<nav>
    <p>STUDENT RECORD BOOK</p>
</nav>
<div class="maincontainer">
    
    <div class="forms">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 formss">
                <div class="container">

                <form>
                    <div class="head">
                        <h1>Login Here</h1>
                    </div>
                    <div class="customer">
                        <input type="text" name="customername" placeholder="Your Name" [(ngModel)]="stdname"> 
                    </div> <br/>
                   <div class="password">
                    <input type="password" name="password" placeholder="Password" [(ngModel)]="pswd"> 
                   </div> <br/> <br>
                  <div class="bnt">
                    <button type="submit" (click)="login()" class="buto">Login</button> &nbsp;&nbsp;  <button type="submit" (click)="back()" class="buto">Back</button>
                  </div>
                     <br/> <br/>

                </form> 
            </div>
            </div>
            <div class="col-4"></div>
        </div>
      
    </div>
</div>
