.maincontainer{
    background-color: rgb(177, 177, 162);
    height:750px;
    display: flex;
    justify-content: center;
}
/* .formss{
    margin-top: 200px;
    background-color: cornsilk;
    width:300px;
    padding:45px;
    border:1px solid black;
}
.forms{
    display: flex;
    justify-content: center;
} */
.container{
    position: relative;
    width:400px;
    min-height:300px;
    background: rgba(31, 30, 30, 0.8);
    /* transform:translate(-50%,-50%); */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    box-shadow: 0 25px 45px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
   
    border-right: 1px solid rgba(255,255,255,0.3);
    border-bottom: 3px solid rgba(255,255,255,0.2);
    margin-top: 250px;
  

}
form{
    position: relative;
    width:100%;
    height:100%;
    padding: 40px;
}
form h1{
    display: flex;
    justify-content: center;
    color: blanchedalmond;
}
input{
    width:90%;
    background: rgba(61, 56, 56, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius:35px ;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.3);
    border-bottom: 3px solid rgba(255,255,255,0.2);
    color:ghostwhite
   
   }
   .buto{
       width:120px;
       border-radius: 10px;
       height:40px;
       background-color: rgb(187, 185, 182);
       color:rgb(99, 96, 91);
       font-size: 15px;
       font-weight: 600;
       
   }
   .bnt{
    display: flex;
    justify-content: center;
   }
   nav{
       background-color: rgb(119, 119, 118);
       color: cornsilk;
       height:30px;
       padding: 15px;
   }
   nav p{
       display: flex;
       justify-content: center;
       font-size: 20px;
   }

