<div class="maincontainer">
    <div class="navcontainer">
        <nav>
            <div>
                <button routerLink="register" class="login"> REGISTER</button>
            </div>
            <div>
                <button routerLink="login" class="login"> LOGIN</button>
            </div>

        </nav>

    </div>
    <div class="html">
        <div class="content">
            <p>
                Welcome to
            </p>
            <p>
                Student Record Book
            </p>
        </div>
    </div>
</div>