<div class="maincontainer">
    <div class="forms">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 formss">
                <div class="container">

                    <form>
                        <div class="head">
                            <h1>Register Here</h1>
                        </div> <br>
                        <div class="customer">
                            <input type="text" name="customername" placeholder="Your Name" class="one">
                        </div> <br />
                        <div class="password">
                            <input type="password" name="password" placeholder="Set a Password" class="one">
                        </div> <br> <hr>
                        <p>Gender:</p>
                        <div>
                            <input type="radio" id="male" name="fav_language" value="MALE">
                            <label for="male">Male</label>
                              
                              <input type="radio" id="female" name="fav_language" value="FEMALE">
                            <label for="female">Female</label>
                        
                        </div> <hr>
                        <p>Enter your Class:</p>
                        <select>
                            <option value="one">Class 1</option>
                            <option value="volvo">Class 2</option>
                            <option value="volvo">Class 3</option>
                            <option value="volvo">Class 4</option>
                        </select> <hr>
                        <br /> <br>
                        <div class="bnt">
                            <button type="submit" class="buto" (click)="register()">Register</button>
                        </div>
                        <br /> <br />

                    </form>
                </div>
            </div>
            <div class="col-4"></div>
        </div>

    </div>
</div>