.container{
    position: relative;
    width:400px;
    min-height:300px;
    background: rgba(31, 30, 30, 0.8);
    /* transform:translate(-50%,-50%); */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    
    backdrop-filter: blur(1px);
    box-shadow: 0 25px 45px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
   
    border-right: 1px solid rgba(255,255,255,0.3);
    border-bottom: 3px solid rgba(255,255,255,0.2);
    margin-top: 120px;
   
  

}
form{
    position: relative;
    width:100%;
    height:100%;
    padding: 40px;
    color:white
}
form h1{
    display: flex;
    justify-content: center;
    color: blanchedalmond;
}
.one{
    width:90%;
    background: rgba(243, 227, 227, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius:35px ;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.3);
    border-bottom: 3px solid rgba(255,255,255,0.2);
    color:ghostwhite
   
   }
   .maincontainer{
       display: flex;
       justify-content: center;
       background-color: wheat;
       height:750px;
   }
   ::placeholder{
       color:white
   }
   button{
       width:150px;
       height:40px;
       border-radius: 20px;
   }
   .bnt{
       display:flex ;
       justify-content: center;
   }
   